<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TPO_Local_Cliente_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrudVTercero</display-name>
    <servlet-name>CrudVTercero</servlet-name>
    <servlet-class>servlet.CrudVTercero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudVTercero</servlet-name>
    <url-pattern>/CrudVTercero</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ContratarVehiculoTercero</display-name>
    <servlet-name>ContratarVehiculoTercero</servlet-name>
    <servlet-class>servlet.ContratarVehiculoTercero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContratarVehiculoTercero</servlet-name>
    <url-pattern>/ContratarVehiculoTercero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudDireccion</display-name>
    <servlet-name>CrudDireccion</servlet-name>
    <servlet-class>servlet.CrudDireccion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudDireccion</servlet-name>
    <url-pattern>/CrudDireccion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudVehiculo</display-name>
    <servlet-name>CrudVehiculo</servlet-name>
    <servlet-class>servlet.CrudVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudVehiculo</servlet-name>
    <url-pattern>/CrudVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarDatosIniciales</display-name>
    <servlet-name>CargarDatosIniciales</servlet-name>
    <servlet-class>servlet.CargarDatosIniciales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarDatosIniciales</servlet-name>
    <url-pattern>/CargarDatosIniciales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlarEstadoDeEnvios</display-name>
    <servlet-name>ControlarEstadoDeEnvios</servlet-name>
    <servlet-class>servlet.ControlarEstadoDeEnvios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlarEstadoDeEnvios</servlet-name>
    <url-pattern>/ControlarEstadoDeEnvios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarRemito</display-name>
    <servlet-name>ProcesarRemito</servlet-name>
    <servlet-class>servlet.ProcesarRemito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarRemito</servlet-name>
    <url-pattern>/ProcesarRemito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarCotizacion</display-name>
    <servlet-name>ProcesarCotizacion</servlet-name>
    <servlet-class>servlet.ProcesarCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarCotizacion</servlet-name>
    <url-pattern>/ProcesarCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarVenta</display-name>
    <servlet-name>ConfirmarVenta</servlet-name>
    <servlet-class>servlet.ConfirmarVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarVenta</servlet-name>
    <url-pattern>/ConfirmarVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLCotizacion</display-name>
    <servlet-name>ProcesarXMLCotizacion</servlet-name>
    <servlet-class>servlet.ProcesarXMLCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLCotizacion</servlet-name>
    <url-pattern>/ProcesarXMLCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLVenta</display-name>
    <servlet-name>ProcesarXMLVenta</servlet-name>
    <servlet-class>servlet.ProcesarXMLVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLVenta</servlet-name>
    <url-pattern>/ProcesarXMLVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLListaPrecios</display-name>
    <servlet-name>ProcesarXMLListaPrecios</servlet-name>
    <servlet-class>servlet.ProcesarXMLListaPrecios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLListaPrecios</servlet-name>
    <url-pattern>/ProcesarXMLListaPrecios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLSolicitudCotizacion</display-name>
    <servlet-name>ProcesarXMLSolicitudCotizacion</servlet-name>
    <servlet-class>servlet.ProcesarXMLSolicitudCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLSolicitudCotizacion</servlet-name>
    <url-pattern>/ProcesarXMLSolicitudCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLOrdenPedido</display-name>
    <servlet-name>ProcesarXMLOrdenPedido</servlet-name>
    <servlet-class>servlet.ProcesarXMLOrdenPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLOrdenPedido</servlet-name>
    <url-pattern>/ProcesarXMLOrdenPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verRemitos</display-name>
    <servlet-name>verRemitos</servlet-name>
    <servlet-class>servlet.verRemitos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verRemitos</servlet-name>
    <url-pattern>/verRemitos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrudClienteEmpresa</servlet-name>
    <servlet-class>servlet.CrudClienteEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudClienteEmpresa</servlet-name>
    <url-pattern>/CrudClienteEmpresa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudSucursal</servlet-name>
    <servlet-class>servlet.CrudSucursal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudSucursal</servlet-name>
    <url-pattern>/CrudSucursal</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudTrayecto</servlet-name>
    <servlet-class>servlet.CrudTrayecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudTrayecto</servlet-name>
    <url-pattern>/CrudTrayecto</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudRuta</servlet-name>
    <servlet-class>servlet.CrudRuta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudRuta</servlet-name>
    <url-pattern>/CrudRuta</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudPedidos</servlet-name>
    <servlet-class>servlet.CrudPedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudPedidos</servlet-name>
    <url-pattern>/CrudPedidos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudClienteParticular</servlet-name>
    <servlet-class>servlet.CrudClienteParticular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudClienteParticular</servlet-name>
    <url-pattern>/CrudClienteParticular</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>pedidos</servlet-name>
    <servlet-class>servlet.pedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pedidos</servlet-name>
    <url-pattern>/pedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrudCarga</servlet-name>
    <servlet-class>servlet.CrudCarga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudCarga</servlet-name>
    <url-pattern>/CrudCarga</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>NuevoPedido</servlet-name>
    <servlet-class>servlet.NuevoPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoPedido</servlet-name>
    <url-pattern>/NuevoPedido</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>CrudPlanDeMantenimiento</servlet-name>
    <servlet-class>servlet.CrudPlanDeMantenimiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudPlanDeMantenimiento</servlet-name>
    <url-pattern>/CrudPlanDeMantenimiento</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <servlet-name>CrudVehiculosAMantener</servlet-name>
    <servlet-class>servlet.CrudVehiculosAMantener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudVehiculosAMantener</servlet-name>
    <url-pattern>/CrudVehiculosAMantener</url-pattern>
  </servlet-mapping>
</web-app>