<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TPO_Local_Cliente_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcesarVenta</display-name>
    <servlet-name>ProcesarVenta</servlet-name>
    <servlet-class>servlet.ProcesarVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarVenta</servlet-name>
    <url-pattern>/ProcesarVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarOC</display-name>
    <servlet-name>GenerarOC</servlet-name>
    <servlet-class>servlet.GenerarOC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarOC</servlet-name>
    <url-pattern>/GenerarOC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarDatosIniciales</display-name>
    <servlet-name>CargarDatosIniciales</servlet-name>
    <servlet-class>servlet.CargarDatosIniciales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarDatosIniciales</servlet-name>
    <url-pattern>/CargarDatosIniciales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarRemito</display-name>
    <servlet-name>ProcesarRemito</servlet-name>
    <servlet-class>servlet.ProcesarRemito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarRemito</servlet-name>
    <url-pattern>/ProcesarRemito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarCotizacion</display-name>
    <servlet-name>ProcesarCotizacion</servlet-name>
    <servlet-class>servlet.ProcesarCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarCotizacion</servlet-name>
    <url-pattern>/ProcesarCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarVenta</display-name>
    <servlet-name>ConfirmarVenta</servlet-name>
    <servlet-class>servlet.ConfirmarVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarVenta</servlet-name>
    <url-pattern>/ConfirmarVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLCotizacion</display-name>
    <servlet-name>ProcesarXMLCotizacion</servlet-name>
    <servlet-class>servlet.ProcesarXMLCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLCotizacion</servlet-name>
    <url-pattern>/ProcesarXMLCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLVenta</display-name>
    <servlet-name>ProcesarXMLVenta</servlet-name>
    <servlet-class>servlet.ProcesarXMLVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLVenta</servlet-name>
    <url-pattern>/ProcesarXMLVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLListaPrecios</display-name>
    <servlet-name>ProcesarXMLListaPrecios</servlet-name>
    <servlet-class>servlet.ProcesarXMLListaPrecios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLListaPrecios</servlet-name>
    <url-pattern>/ProcesarXMLListaPrecios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLSolicitudCotizacion</display-name>
    <servlet-name>ProcesarXMLSolicitudCotizacion</servlet-name>
    <servlet-class>servlet.ProcesarXMLSolicitudCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLSolicitudCotizacion</servlet-name>
    <url-pattern>/ProcesarXMLSolicitudCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarXMLOrdenPedido</display-name>
    <servlet-name>ProcesarXMLOrdenPedido</servlet-name>
    <servlet-class>servlet.ProcesarXMLOrdenPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarXMLOrdenPedido</servlet-name>
    <url-pattern>/ProcesarXMLOrdenPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verRemitos</display-name>
    <servlet-name>verRemitos</servlet-name>
    <servlet-class>servlet.verRemitos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verRemitos</servlet-name>
    <url-pattern>/verRemitos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrudClienteEmpresa</servlet-name>
    <servlet-class>servlet.CrudClienteEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudClienteEmpresa</servlet-name>
    <url-pattern>/CrudClienteEmpresa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudPedidos</servlet-name>
    <servlet-class>servlet.CrudPedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudPedidos</servlet-name>
    <url-pattern>/CrudPedidos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudClienteParticular</servlet-name>
    <servlet-class>servlet.CrudClienteParticular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudClienteParticular</servlet-name>
    <url-pattern>/CrudClienteParticular</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>pedidos</servlet-name>
    <servlet-class>servlet.pedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pedidos</servlet-name>
    <url-pattern>/pedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrudCarga</servlet-name>
    <servlet-class>servlet.CrudCarga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudCarga</servlet-name>
    <url-pattern>/CrudCarga</url-pattern>
  </servlet-mapping>
  
</web-app>