/*-----------------------------------------*/
/* RESET */
/*----------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ | v1.0 | 20080212 */
body,html {
	height: 100%;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
} /* remember to define focus styles! */
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} /* tables still need 'cellspacing="0"' in the markup */

/*-----------------------------*/
/* GENERAL STYLES */
/*---------------------------*/

/* Floating & Alignment */
.fl {
	float: left;
}

.fr {
	float: right;
}

.ac {
	text-align: center;
}

.ar {
	text-align: right;
}

/* Clear Floats */
.col-full:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden;
}

html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear
	{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
} /* http://sonspring.com/journal/clearing-floats */

/*  
Theme Name: Boast
License: GNU/GPL Version 2 or later. http://www.gnu.org/licenses/gpl.html

WORDPRESS
Theme URI: http://www.woothemes.com/
Version: 1.1.1
Description: Designed by <a href="http://www.woothemes.com">WooThemes</a>.
Author: WooThemes
Author URI: http://www.woothemes.com
Copyright: (c) 2009 WooThemes.

TEXTPATTERN
Theme URI: http://protextthemes.com/themes/boast
Version: 1.0.0
Author: ProText Themes
Author URI: http://protextthemes.com
Copyright: (c) 2011 ProText Themes.
*/

/* WARNING! DO NOT EDIT THIS FILE!
To make it easy to update your theme, you should not edit the styles in this file. Instead use the boast_custom file to add your styles. You can copy a style block from this file and paste it into boast_custom, edit it and it will override the style in this file.*/

/*-------------------------------------------------------------------------------------------

INDEX:

1. SETUP
-1.1 Defaults
-1.2 Hyperlinks
-1.3 Accessibility

2. SITE STRUCTURE & APPEARANCE
-2.1 Containers & Columns
-2.2 Navigation
-2.2.1 Drop-down menus
-2.3 Header
-2.4 Featured Box
-2.4.1 Home Page Tabber
-2.4.2 Inner Pages
-2.5 Footer

3. POSTS
-3.1 Typographic Elements
-3.2 Images
-3.3 Pagination
-3.4 Info boxes

4. WIDGETS
-4.1 Generic Widgets
-4.2 Specific Widgets

5. COMMENTS
-5.1 Comments
-5.2 Comments Form

6. MISC
-6.1 Buttons
-6.2 Info Boxes
-6.3 Contact Form

-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/

/* 1.1 Defaults */
body {
	font: 14px/20px Arial, Helvetica, Sans-serif;
	color: #fdfdfd;
	/* background: #516f8c url(images/bg-bodytile.png) repeat top left; */
	background: white;
}

h1 {
	font-size: 36px;
	color: black;
}

h2,h3,h4,h5,h6 {
	margin: 0;
	color: #fff;
	font-weight: normal;
}

h2.error-status {
	margin: 50px 0;
}

h2 {
	font-size: 22px;
}

h2.error-status {
	font-size: 48px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p {
	margin: 0;
}

p.error-msg {
	font-size: 22px;
}

hr {
	background-color: #e6e6e6;
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}

input,textarea {
	padding: 7px;
	border-color: #ccc #efefef #efefef #ccc;
	border-width: 1px;
	border-style: solid;
}

/* 1.2 Hyperlinks */
a:link,a:visited {
	color: #a2cde6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 a:link,h2 a:visited,h3 a:link,h3 a:visited,h4 a:link,h4 a:visited,h5 a:link,h5 a:visited,h6 a:link,h6 a:visited
	{
	color: #fff;
	text-decoration: none;
}

h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	
}

/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */
#wrapper {
	/* background: url(images/bg-wrapper.png) no-repeat center top; */
}

#content-wrap {
/* 	background: url(images/bg-content.png) no-repeat center bottom;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15); */
}

#content {
	padding: 0 0 40px;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}

.col-full {
	width: 1100px;
	margin: 0 auto;
}

/* 2.2 Navigation */
#navigation {
	position: relative;
	padding: 1px 0 0 0;
	z-index: 1;
	font: 14px/14px Helvetica, Arial, sans-serif;
	/* background: #243141 url(images/bg-nav.png) no-repeat left top; */
	background: #243141;
}

.nav {
	z-index: 99;
	margin: 0 0 0 20px;
	padding: 0;
	list-style: none;
	line-height: 1;
}

.nav li {
	float: left;
	width: auto;
}

.nav li.home a {
	display: block;
	margin: 20px 15px 0 0;
	height: 0;
	overflow: hidden;
	padding-top: 14px;
	width: 13px;
	background: url(images/ico-home.png) no-repeat top center;
}

.nav a {
	position: relative;
	color: #fff;
	display: block;
	z-index: 100;
	margin-right: 20px;
	padding: 18px 10px 12px 10px;
	line-height: 18px;
	text-decoration: none;
}

.nav a:hover {
	background: rgba(0, 0, 0, 0.2);
}

.nav li.current_page_item,.nav li.current_page_parent {
	
}

.nav li a.sf-with-ul {
	padding-right: 20px;
}

/* 2.2.1 Drop-down menus */
.nav li ul {
	background: #FFF;
	position: absolute;
	left: -999em;
	width: 180px;
	z-index: 999;
}

.nav li ul li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c3c3c3;
}

.nav li ul li a {
	width: 165px;
	padding: 5px 5px 5px 10px;
	font-weight: bold;
	background: #eaeaea;
	margin: 0;
	color: #555;
	font-size: 12px;
}

.nav li ul li a.sf-with-ul {
	padding: 5px 5px 2px 10px;
}

.nav li ul li a:hover {
	border-color: transparent;
	color: #000;
	background-color: #dedede;
}

.nav li ul ul {
	margin: -25px 0 0 180px;
}

.nav li ul ul li a {
	
}

.nav li ul li ul li a {
	
}

.nav li:hover,.nav li.hover {
	position: static;
}

.nav li:hover ul ul,.nav li.sfhover ul ul,.nav li:hover ul ul ul,.nav li.sfhover ul ul ul,.nav li:hover ul ul ul ul,.nav li.sfhover ul ul ul ul
	{
	left: -999em;
}

.nav li:hover ul,.nav li.sfhover ul,.nav li li:hover ul,.nav li li.sfhover ul,.nav li li li:hover ul,.nav li li li.sfhover ul,.nav li li li li:hover ul,.nav li li li li.sfhover ul
	{
	left: auto;
}

.nav .sf-sub-indicator {
	background: url(images/arrow-superfish.png) no-repeat;
	position: absolute;
	display: block;
	right: 0.3em;
	top: 1.8em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
}

.nav li ul .sf-sub-indicator {
	right: 5px;
	top: 10px;
	background: url(images/arrow-superfish-right.png) no-repeat;
}

/* 2.3 Header */
#header {
	padding: 30px 0 20px;
	clear: both;
	position: relative;
	background: url(images/bg-header.png) repeat-x top left;
}

#header h1 {
	background: transparent url(images/uade-logo.png) no-repeat 100% 50%;
	height: 109px;
	line-height: 109px;
}

.featured {
	margin-bottom: 5px;
	color: #353a3e;
}

.featured .feat-post {
	width: 567px;
	padding: 0 33px;
}

.featured .feat-post .image img {
	margin: 30px 0 0 0;
	border: 1px solid #fff;
}

.featured .feat-post .shadow {
	display: block;
	width: 561px;
	height: 35px;
	margin: -16px 0 0 2px;
	background: url(images/feat-img-shadow.png) no-repeat center top;
}

.featured .feat-post .details {
	margin: 10px 0 22px;
}

.featured .feat-post .buttons {
	width: 100px;
	padding: 0 10px 0 15px;
}

.featured .feat-post .buttons a {
	display: block;
	float: left;
	height: 41px;
	width: 42px;
	text-indent: -300px;
	overflow: hidden;
	background: url(images/btn-updown.png) no-repeat left top;
}

.featured .feat-post .buttons a.down {
	background-position: top right;
}

.featured .feat-post .feat-title {
	width: 442px;
	padding: 4px 0 0 0;
}

.featured .feat-title h2,.featured .feat-title h2 a {
	color: #25211f;
	font-size: 24px;
	font-weight: bold;
}

.featured .feat-title .sub-title {
	color: #6f6b69;
	font-size: 10px;
	text-transform: uppercase;
}

.featured .feat-index {
	width: 304px;
	background: #3c5065;
	overflow-x: hidden;
	border-color: #46596d;
	border-style: solid;
	border-width: 1px 1px 1px 0;
}

.featured .feat-index ul {
	padding: 15px 0;
}

.featured .feat-index a {
	display: block;
	padding: 15px 0 15px 35px;
	color: #bed5eb;
	font-size: 15px;
	font-weight: bold;
	line-height: 16px;
}

.featured .feat-index a:hover {
	color: #fff;
}

.featured .feat-index a:hover span {
	color: #d6e3ee;
}

.featured .feat-index .active a {
	margin-left: -2px;
	color: #fff;
	padding-left: 30px;
	font-size: 15px;
	background: url(images/feat-index-active.png) no-repeat left 2px;
}

.featured .feat-index .active a span {
	color: #d6e3ee;
}

.featured .feat-index span {
	display: block;
	color: #7b8d9f;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

.featured .feat-index a:hover {
	text-decoration: none;
}

/* 2.4.1 Inner Pages */
.featured.feat-blog {
	background: #eaeaea ;
	border: 1px solid #fff;
}

.featured.feat-blog .archive-header {
	padding: 0 0 6px;
	border-bottom: 1px solid #cecece;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 30px 0 0 0;
	color: #000;
}

.featured.feat-blog .archive-header span {
	font: bold italic 18px Georgia, Times, serif;
}

.featured.feat-blog .archive-header .cat-rss {
	display: block;
	margin-top: -2px;
	margin-bottom: -6px;
	border: none !important;
	font: bold italic 14px Georgia, Times, serif;
}

.featured.feat-blog .archive-header .cat-rss a {
	padding: 3px 38px 3px 0;
	font-size: 14px;
	text-decoration: none;
	line-height: 28px;
	color: #3c5065;
	background: url(images/ico-rss.png) no-repeat right center;
}

.featured.feat-blog .archive-header .cat-rss a:hover {
	color: #000;
}

.featured.feat-blog .feat-post {
	width: 872px;
	padding-top: 30px;
}

.featured.feat-blog .feat-title {
	width: 800px;
	color: #000;
	display: inline;
}

.featured.feat-blog .feat-title .feat-meta {
	display: inline-block;
	margin: 0 0 15px;
	font-size: 11px;
	text-transform: uppercase;
	color: #6f6b69;
	border-bottom: 1px dotted #6f6b69;
}

.featured.feat-blog .feat-title .feat-meta a {
	color: #000;
	font-weight: bold;
}

.featured.feat-blog .feat-title h2 {
	margin: 0 0 6px 0;
	font-size: 30px;
}

.featured.feat-blog .feat-title h2 a {
	font-size: 30px;
}

.featured.feat-blog .feat-content {
	margin: 0 0 35px 0;
}

.featured.feat-blog .video {
	margin-bottom: 20px;
}

.featured.feat-blog .entry h2,.featured.feat-blog .entry h3,.featured.feat-blog .entry h4,.featured.feat-blog .entry h5,.featured.feat-blog .entry h6
	{
	color: #000;
	font-weight: bold;
}

.featured.feat-blog .entry a {
	color: #3c5065;
}

.entry p.tags {
	background: url(images/ico-tag.png) no-repeat center left;
	padding-left: 25px;
	width: 100%;
	clear: both;
	margin-bottom: 100px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
}
.CargasTableContainer


.entry {
	padding-left: 25px;
	width: 100%;
}

/* 3.1 Typographic Elements */
.entry h2 {
	padding-bottom: 20px;
}

.entry h3 {
	padding-bottom: 10px;
}

.entry h4 {
	
}

.entry h5 {
	
}

.entry h6 {
	
}

.entry p {
	margin: 0 0 20px 0;
}

.entry blockquote {
	background: url(images/blockquote.png) no-repeat 0 12px;
	padding: 10px 20px 10px 50px;
	color: #444;
}

.entry blockquote p {
	font-style: italic;
}

.entry ul {
	list-style-position: inside;
	margin: 0 0 15px 10px;
	padding: 0 0 0 10px;
}

.entry ul ul {
	list-style-position: inside;
	margin: 0 0 10px;
}

.entry ul li {
	list-style-type: circle;
}

.entry ul ul li {
	list-style-type: disc;
}

.entry ol {
	list-style-position: inside;
	margin: 0 0 15px 10px;
	padding: 0 0 0 10px;
}

.entry ol ol {
	list-style-position: inside;
	margin: 0 0 10px;
}

.entry  ol li {
	list-style-type: upper-latin;
}

.entry  ol li ol li {
	list-style-type: lower-latin;
}

#search-results .post strong {
	text-decoration: underline;
}

.entry dl.widget-archive-menu {
	
}

.entry dl.widget-archive-menu dt {
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}

.entry dl.widget-archive-menu dd {
	display: inline;
	line-height: 32px;
	margin-left: 15px;
}

/* 3.2 Images */
.entry img,img.thumbnail {
	margin-top: 5px !important;
	padding: 3px;
	border: 1px solid #fff;
	background: #eaeaea;
}

.alignleft {
	float: left;
	height: auto;
	margin: 5px 25px 10px 0;
}

.alignright {
	float: right;
	height: auto;
	margin: 5px 0 10px 25px;
}

.aligncenter {
	text-align: center;
	margin-bottom: 15px;
}

img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.entry .caption {
	text-align: center;
	padding: 1px;
	border: 1px solid #fff;
	background: #eaeaea;
}

.entry .caption img {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
}

.entry .caption-text {
	margin: 0;
	padding: 5px;
	font: 11px/22px Arial, Helvetica, sans-serif;
	text-align: justify;
}

.gallery-listing img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
}

/* 6.2 Info Boxes */
p.alert,p.download,p.info,p.note,p.tick {
	margin: 10px 0 20px 0;
	padding: 9px 10px 9px 50px;
}

p.alert {
	border-top: 1px solid #f0baa2;
	border-bottom: 1px solid #f0baa2;
	background: #ffd9c8 url(images/ico-alert.png) no-repeat 20px 13px;
}

p.download {
	border-top: 1px solid #d4ebaf;
	border-bottom: 1px solid #d4ebaf;
	background: #edfcd5 url(images/ico-download.png) no-repeat 20px 13px;
}

p.tick {
	border-top: 1px solid #d4ebaf;
	border-bottom: 1px solid #d4ebaf;
	background: #edfcd5 url(images/ico-tick.png) no-repeat 20px 13px;
}

p.info {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee url(images/ico-info.png) no-repeat 20px 13px;
}

p.note {
	border-top: 1px solid #efe3ae;
	border-bottom: 1px solid #efe3ae;
	background: #fef6d2 url(images/ico-note.png) no-repeat 20px 13px;
}

/* Other */
.hidden,.disabled {
	display: none
}

/* CSS3 / Browser specific CSS */

/* TEXT SHADOW */
.featured .feat-index a,h2,h3,h4,h5,h6,#blog .heading,#comments .comment-head .name,.nocomments
	{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)
}

.nav-entries a,.post-entries a {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

#blog .heading .full-blog,.featured.feat-blog .entry h2,.featured.feat-blog .entry h3,.featured.feat-blog .entry h4,.featured.feat-blog .entry h5,.featured.feat-blog .entry h6
	{
	text-shadow: 0 1px 0 #fff;
}

.featured .feat-title h2,#footer-widgets h3 {
	text-shadow: none;
}

#blog .heading .full-blog {
	text-shadow: 1px 1px 0 #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

/* BOX SHADOW */
.featured,.nav li ul,#txpCommentInputForm,.entry img,img.thumbnail,.entry .caption
	{
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.entry .caption img {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* BORDER-RADIUS */
#navigation {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
}

.featured,#loopedSlider .container {
	border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
}

.featured,.featured .col-right,.featured.feat-blog .feat-post {
	border-bottom-right-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

/* BUTTONS */
input[type="submit"],input[type="submit"]:visited { /*
text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
*/
	
}

input[type="submit"],input[type="submit"]:visited {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 10px
}

input[type="submit"]:hover {
	opacity: 0.9;
}

input[type="submit"]:active {
	opacity: 0.9;
	background-color: #666;
	color: #fff;
}

/* FORM ITEMS */
label {
	font-weight: bold;
	cursor: pointer;
}

input[type="checkbox"],input[type="radio"] {
	cursor: pointer;
}

/* TABLES */
table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 15px 0;
	width: 840px;
	text-align: center;
	/* border-collapse: 	; */
	border: 1px solid #69c;
	
}

th {
	padding: 12px 17px 12px 17px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
	border-bottom: 1px dashed #69c;
}

td {
	padding: 7px 17px 7px 17px;
	color: #669;
}

tbody tr:hover td {
	color: #339;
	background: #d0dafd;
	
	
}
.table{
	height:auto; 
	width: 1024px;
	overflow-x:scroll;
	overflow-y:scroll; display:block;
}
#CargasTableContainer
{
	height:auto; 
	width: 1024px;
	overflow-x:scroll;
	overflow-y:scroll; display:block;
}
}